<div class="scene">
    <div class="button-block">
        {{#link-to "github"}}<button type="button" class="index-button">Github repo's</button>{{/link-to}}
        {{#link-to "contributors"}} <button type="button" class="index-button">Contributors</button>{{/link-to}}

    </div>
    <div data-offset="90" class="clouds parallax"></div>

    <div data-offset="30" class="trees parallax"></div>

    <div data-offset="20" class="grass parallax"></div>
    <div data-offset="50" class="buildings parallax"></div>
    <div class="ground"></div>

</div>
{{outlet}}
